@function sprite-map($str){ @return }

@function sprite-file($map, $file){
	$select: map-get($map, $file);
	@return $select;
}

@function sprite($map, $file, $offsetx:false, $offsety:false){
  @if type-of($map) != "map" {
	  @warn "`#{$map}` is not a map.";
	  @return false;
  }
  $select: map-get($map, $file);
  @if type-of($select) != "map" {
	  @warn "`#{$select}` is not a map.";
	  @return false;
  }  @return url(map-get($select, url)) + " " +
    sprite-position($map, $file);
}

@function image-width($select){
  @if type-of($select) != "map" {
    @warn "`#{$select}` is not a map.";
    @return false;
  }
  @return map-get($select, width) + px;
}

@function image-height($select){
  @if type-of($select) != "map" {
    @warn "`#{$select}` is not a map.";
    @return false;
  }
  @return map-get($select, height) + px;
}

@function sprite-position($map, $file) {
  $select: map-get($map, $file);
  $x: map-get($select, x);
  $y: map-get($select, y);
  @return -#{$x}px + " " + -#{$y}px;
}

@function image-url($file) {
  @if type-of($rel) != "string" {
    @warn "$rel not set";
    @return url($file);
  } @else {
    @return url("#{$rel}/#{$file}")
  }
}

@mixin sprite-dimensions($map, $file) {
	$select: map-get($map, $file);
	$w: map-get($select, width);
	$h: map-get($select, height);
	height: #{$h}px;
	Width: #{$w}px;
}
