version: 2
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - go-111
      - deploy:
          requires:
            - go-111
          filters:
            branches:
              only: master
jobs:
  deploy:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/wellington/wellington
    steps:
      - checkout
      - run: |
          make release
          docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
          docker push drewwells/wellington
      - store_artifacts:
          path: snapshot/
  "go-111":
    docker:
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.11
    environment:
      GO111MODULE: "on"
    # working_directory: /go/src/github.com/wellington/wellington
    #environment:
    #  TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-pkg-cache
      - run: make test
      - save_cache:
          key: v1-pkg-cache
          paths:
            - "/go/pkg"
  "go-114":
    docker:
      - image: circleci/golang:1.14
    environment:
      GO111MODULE: "on"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-pkg-cache
      - run: make test
      - save_cache:
          key: v1-pkg-cache
          paths:
            - "/go/pkg"
