@function sprite-map($str){ @return }

@function sprite-file($map, $file){
  $select: map-get($map, $file);
  @return $select;
}

@function sprite($map, $file){
  $select: map-get($map, $file);
  @return url(map-get($select, url)) + " " +
    sprite-position($map, $file);
}

@function image-width($select){
  @return map-get($select, width) + px;
}

@function image-height($select){
  @return map-get($select, height) + px;
}

@function sprite-position($map, $file) {
  $select: map-get($map, $file);
  $x: map-get($select, x);
  $y: map-get($select, y);
  @return -#{$x}px + " " + -#{$y}px;
}

@function image-url($file) {
  @if not $rel {
    @return url($file);
  } @else {
    @return url($rel/$file)
  }
}
